---
uid: web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
title: "[¿Cómo I:] Publicar y analizar los resultados de pruebas? | Microsoft Docs"
author: rick-anderson
description: "Visual Studio Team System permite a los cambios de gráfico en la calidad del código del proyecto según progresa el proyecto. Este vídeo proporciona instrucciones sobre cómo Publ...."
ms.author: aspnetcontent
manager: wpickett
ms.date: 07/16/2007
ms.topic: article
ms.assetid: 9fb155e0-1379-482c-963d-af7dc0397d76
ms.technology: dotnet-webforms
ms.prod: .net-framework
msc.legacyurl: /web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
msc.type: video
ms.openlocfilehash: 3f9d94e2fbbb53679b5af1d2f2a4abe1866f9e58
ms.sourcegitcommit: 9a9483aceb34591c97451997036a9120c3fe2baf
ms.translationtype: MT
ms.contentlocale: es-ES
ms.lasthandoff: 11/10/2017
---
<a name="how-do-i-publish-and-analyze-test-results"></a><span data-ttu-id="54b3d-105">[¿Cómo I:] Publicar y analizar los resultados de pruebas?</span><span class="sxs-lookup"><span data-stu-id="54b3d-105">[How Do I:] Publish and Analyze Test Results?</span></span>
====================
<span data-ttu-id="54b3d-106">por [Chris Menegay](https://twitter.com/CMenegay)</span><span class="sxs-lookup"><span data-stu-id="54b3d-106">by [Chris Menegay](https://twitter.com/CMenegay)</span></span>

<span data-ttu-id="54b3d-107">Visual Studio Team System permite a los cambios de gráfico en la calidad del código del proyecto según progresa el proyecto.</span><span class="sxs-lookup"><span data-stu-id="54b3d-107">Visual Studio Team System enables you to chart changes in a project's code quality as the project progresses.</span></span> <span data-ttu-id="54b3d-108">Este vídeo proporciona instrucciones sobre cómo publicar los resultados de pruebas en la base de datos del proyecto de Team Foundation Server y asociar los resultados con un número de compilación.</span><span class="sxs-lookup"><span data-stu-id="54b3d-108">This video provides instructions on how to publish test results to the Team Foundation Server project database and associate the results with a build number.</span></span> <span data-ttu-id="54b3d-109">Vemos que después se publican los resultados podemos usar el Administrador de informes para ver una representación gráfica de los cambios en los resultados de prueba de compilación.</span><span class="sxs-lookup"><span data-stu-id="54b3d-109">We see that after the results are published we can use the Report Manager to view a graphical representation of changes in our build test results.</span></span>

[<span data-ttu-id="54b3d-110">&#9654; Vea el vídeo (7 minutos)</span><span class="sxs-lookup"><span data-stu-id="54b3d-110">&#9654; Watch video (7 minutes)</span></span>](https://channel9.msdn.com/Blogs/ASP-NET-Site-Videos/how-do-i-publish-and-analyze-test-results)

>[!div class="step-by-step"]
<span data-ttu-id="54b3d-111">[Anterior](how-do-i-use-generic-tests.md)
[Siguiente](how-do-i-discover-application-changes-prior-to-deployment.md)</span><span class="sxs-lookup"><span data-stu-id="54b3d-111">[Previous](how-do-i-use-generic-tests.md)
[Next](how-do-i-discover-application-changes-prior-to-deployment.md)</span></span>
