---
uid: web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
title: '[¿Cómo lo hago?:] Publicar y analizar los resultados de pruebas? | Microsoft Docs'
author: rick-anderson
description: Visual Studio Team System permite a los cambios de gráfico en la calidad del código de un proyecto conforme avanza el proyecto. Este vídeo proporciona instrucciones sobre cómo Publ...
ms.author: aspnetcontent
manager: wpickett
ms.date: 07/16/2007
ms.topic: article
ms.assetid: 9fb155e0-1379-482c-963d-af7dc0397d76
ms.technology: dotnet-webforms
msc.legacyurl: /web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
msc.type: video
ms.openlocfilehash: 2beeac7c4d8157787a156af03a42f9c1f7dbbd17
ms.sourcegitcommit: 953ff9ea4369f154d6fd0239599279ddd3280009
ms.translationtype: MT
ms.contentlocale: es-ES
ms.lasthandoff: 07/03/2018
ms.locfileid: "37379521"
---
<a name="how-do-i-publish-and-analyze-test-results"></a>[¿Cómo lo hago?:] Publicar y analizar los resultados de pruebas?
====================
por [Chris Menegay](https://twitter.com/CMenegay)

Visual Studio Team System permite a los cambios de gráfico en la calidad del código de un proyecto conforme avanza el proyecto. Este vídeo proporciona instrucciones sobre cómo publicar los resultados de pruebas en la base de datos del proyecto de Team Foundation Server y asociar los resultados a un número de compilación. Vemos que una vez que se publican los resultados podemos usar el Administrador de informes para ver una representación gráfica de los cambios en los resultados de pruebas de compilación.

[&#9654;Vea el vídeo (7 minutos)](https://channel9.msdn.com/Blogs/ASP-NET-Site-Videos/how-do-i-publish-and-analyze-test-results)

> [!div class="step-by-step"]
> [Anterior](how-do-i-use-generic-tests.md)
> [Siguiente](how-do-i-discover-application-changes-prior-to-deployment.md)
