---
uid: web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
title: '[¿Cómo I:] Publicar y analizar los resultados de pruebas? | Microsoft Docs'
author: rick-anderson
description: Visual Studio Team System permite a los cambios de gráfico en la calidad del código del proyecto según progresa el proyecto. Este vídeo proporciona instrucciones sobre cómo Publ....
ms.author: aspnetcontent
manager: wpickett
ms.date: 07/16/2007
ms.topic: article
ms.assetid: 9fb155e0-1379-482c-963d-af7dc0397d76
ms.technology: dotnet-webforms
ms.prod: .net-framework
msc.legacyurl: /web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
msc.type: video
ms.openlocfilehash: be3ff525ae5010e3df9f5e33c2c9b5c4f3701226
ms.sourcegitcommit: f8852267f463b62d7f975e56bea9aa3f68fbbdeb
ms.translationtype: MT
ms.contentlocale: es-ES
ms.lasthandoff: 04/06/2018
ms.locfileid: "30894901"
---
<a name="how-do-i-publish-and-analyze-test-results"></a>[¿Cómo I:] Publicar y analizar los resultados de pruebas?
====================
por [Chris Menegay](https://twitter.com/CMenegay)

Visual Studio Team System permite a los cambios de gráfico en la calidad del código del proyecto según progresa el proyecto. Este vídeo proporciona instrucciones sobre cómo publicar los resultados de pruebas en la base de datos del proyecto de Team Foundation Server y asociar los resultados con un número de compilación. Vemos que después se publican los resultados podemos usar el Administrador de informes para ver una representación gráfica de los cambios en los resultados de prueba de compilación.

[&#9654;Vea el vídeo (7 minutos)](https://channel9.msdn.com/Blogs/ASP-NET-Site-Videos/how-do-i-publish-and-analyze-test-results)

> [!div class="step-by-step"]
> [Anterior](how-do-i-use-generic-tests.md)
> [Siguiente](how-do-i-discover-application-changes-prior-to-deployment.md)
