---
uid: web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
title: '[¿Cómo lo hago?:] Publicar y analizar los resultados de pruebas? | Microsoft Docs'
author: rick-anderson
description: Visual Studio Team System permite a los cambios de gráfico en la calidad del código de un proyecto conforme avanza el proyecto. Este vídeo proporciona instrucciones sobre cómo Publ...
ms.author: riande
ms.date: 07/16/2007
ms.assetid: 9fb155e0-1379-482c-963d-af7dc0397d76
msc.legacyurl: /web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
msc.type: video
ms.openlocfilehash: a575dd0af20bb1565606c93e5a189b7a3e35ff3d
ms.sourcegitcommit: 45ac74e400f9f2b7dbded66297730f6f14a4eb25
ms.translationtype: MT
ms.contentlocale: es-ES
ms.lasthandoff: 08/16/2018
ms.locfileid: "41829612"
---
<a name="how-do-i-publish-and-analyze-test-results"></a>[¿Cómo lo hago?:] Publicar y analizar los resultados de pruebas?
====================
por [Chris Menegay](https://twitter.com/CMenegay)

Visual Studio Team System permite a los cambios de gráfico en la calidad del código de un proyecto conforme avanza el proyecto. Este vídeo proporciona instrucciones sobre cómo publicar los resultados de pruebas en la base de datos del proyecto de Team Foundation Server y asociar los resultados a un número de compilación. Vemos que una vez que se publican los resultados podemos usar el Administrador de informes para ver una representación gráfica de los cambios en los resultados de pruebas de compilación.

[&#9654;Vea el vídeo (7 minutos)](https://channel9.msdn.com/Blogs/ASP-NET-Site-Videos/how-do-i-publish-and-analyze-test-results)

> [!div class="step-by-step"]
> [Anterior](how-do-i-use-generic-tests.md)
> [Siguiente](how-do-i-discover-application-changes-prior-to-deployment.md)
